<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirstApp">
        <activity
            android:name=".testservice.ui.MainMusicActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".testmutilanguage.TestMultiLanguageActivity2"
            android:exported="true" />
        <activity
            android:name=".testmutilanguage.TestMultiLanguageActivity"
            android:exported="true" />
        <activity
            android:name=".testlaunchmode.StandardActivity"
            android:exported="false"
            android:launchMode="standard" />
        <activity
            android:name=".testlaunchmode.SingleTopActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".testlaunchmode.SingleTaskActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".testlaunchmode.SingleInstanceActivity"
            android:exported="true"
            android:launchMode="singleInstance" />
        <activity
            android:name=".testlaunchmode.MainActivity"
            android:exported="true" />
        <activity
            android:name=".testflow.TestFlowActivity"
            android:exported="true" />
        <activity
            android:name=".TestCoroutineActivity"
            android:exported="true" />
        <activity
            android:name=".ClockActivityFirst"
            android:exported="true" />
    </application>

</manifest>